* {
	box-sizing: border-box;
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	margin: 0;
	box-sizing: content-box;
	overflow-x: hidden;
	min-width: 100vw;
	min-height: 100vh;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

@media (max-width: 25rem) {
	body {
		overflow-x: auto;
	}
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

:root {
	--primary:  #FF3E00;
	--secondary:#40B3FF;
	--elevated0:#f6f0f6;
	--elevated1:#c6c0c6;
	--elevated2:#72787F;
	--elevated3:#5F676F;
	--elevated4:#4A4A55;
	--elevated5:#333333;
}

* {
	margin: 0;
	padding: 0;
}

.wrapper {
	max-width: 50rem;
	margin: 0 auto;
	padding: 0 2rem;
}

.muted {
	opacity: .7;
}

.with-shadow {
	box-shadow: 0 3px 7px -3px black;
}

.btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background-color: var(--elevated0);
	color: var(--elevated4);
	border-radius: .5rem;
	margin: 0;	
}

.btn:hover, .btn:focus {
	background-color: var(--elevated1);
	color: var(--elevated5)
}

.inpt {
	border-radius: .5rem;
	color: var(--elevated5);
}

.inpt:focus {
	outline: 2px solid var(--secondary);
}

.bold {
	font-weight: bolder;
}

.italic {
	font-style: italic;
}

.linethrough {
	text-decoration: line-through;
}

.monospace {
	font-family: monospace;
}

.header1 {
	font-size: 1.4em;
}
.header2 {
	font-size: 1.25em;
}
.header3 {
	font-size: 1.15em;
}

@media (max-width: 25rem) {
	:root {
		font-size: 14px;
	}

	.wrapper {
		padding: 0 .5rem;
	}
}